/* Sidebar and Navigation */
.execution-sidebar {
    -fx-background-color: rgba(20, 20, 20, 0.5);
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-width: 0 1 0 0;
}

.side-nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: #dddddd;
    -fx-cursor: hand;
    -fx-font-size: 15px;
}

.side-nav-button:hover {
    -fx-text-fill: white;
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-font-size: 15px; /* Blocca il resize */
}

.side-logout-button {
    -fx-background-color: rgba(196, 30, 58, 0.2);
    -fx-text-fill: #ff6b6b;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-border-color: #c41e3a;
    -fx-border-radius: 8;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

/* Net Info Header */
.net-info-header {
    -fx-background-color: rgba(255, 255, 255, 0.08);
    -fx-background-radius: 15;
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-radius: 15;
}

.net-info-row {
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-width: 0 0 1 0;
}

/* Drawing Pane and Scroll */
.execution-canvas {
    -fx-background-color: #fcfcfc;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 5);
}

.transparent-scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}